* {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  background-color: #5a4164;
  color: black;
  padding-top: 130px;
  padding-bottom: 70px;
}
@media (max-width: 600px) {
  .app {
    padding-top: 70px;
  }
}
.pageTitle {
  text-transform: uppercase;
  display: flex;
  position: relative;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  padding: 7px;
  margin-top:10%;
  /* background-color: #39445a;
  box-shadow: 0px 1px 5px black; */
  border-radius: 50px;
  color: white;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}
